extends layout_page

block page_content
  #history
   #lessStamina
    .modalbox
     header
      h3 Informations
     p Vous avez perdu 3 points d'endurance, veuillez confirmer pour continuer
     button Confirmer

   div#decision
    p #[a(href="/page/155/1") Rendez-vous au 155]
