extends layout_page

block event



block page_content
  #history
   #newItems
    .modalbox
     header
      h3 Breaking News
     p You get back 3 meals, 1 blanket and 1 fur. Please confirm to continue
     button Confirm
   div#decision
    p Si vous souhaitez tirer votre épéeet aller voir de quoi il s'agit, #[a(href="/page/180/1") rendez-vous au 180].
    p  Si vous préférez retenir votre souffle en restant aussi immobile que possible, #[a(href="/page/259/1") rendez-vous au 259].
