extends layout_page


block page_content

   //include mixins/decisionSection
   div#decision
    p Si vous tirez un chiffre entre 0 et 3, #[a(href="/jeu/57") rendez-vous au 57].
    p Entre 4 et 6, #[a(href="/page/188/1") rendez-vous au 188].
    p Entre 7 et 9, #[a(href="/page/331/1") rendez-vous au 331].
