extends layout_page


block page_content
  #history

   div#decision
    p Si le total obtenu se situe entre -2 et 2, #[a(href="/page/248/1") rendez-vous au 248].
    p S'il est de 3 à 10, #[a(href="/page/191/1") rendez-vous au 191].
