extends layout_page



block page_content
 #history
  p If you have the Kai Discipline of Hunting, 
    a(href='/page/204/1') turn to 204.
  p If you have the Kai Discipline of Animal Kinship, 
    a(href='/page/318/1') turn to 318.
  p Otherwise, leave the tent and attack the Baknar by 
    a(href='/page/78/1') turning to 78.
