extends layout_page


block page_content
  #history
   div#decision
    p Si vous tirez un chiffre de 0 à 6, #[a(href="/page/85/1") rendez-vous au 85].
    p De 7 à 9, #[a(href="/page/300/1") rendez-vous au 300].
