extends layout_page


block page_content
  #history
   #lessStamina
    .modalbox
     header
      h3 Informations
     p Vous avez perdu 3 points d'endurance, veuillez confirmer pour continuer
     button Confirmer
   div#decision
    p À présent, #[a(href="/page/155/1") rendez-vous au 155].
