extends layout_page


block page_content
  #history
   #lessStamina
    .modalbox
     header
      h3 Informations
     p Vous avez perdu 3 points d'endurance, veuillez confirmer pour continuer
     button Confirmer
   div#decision
    p Si vous tirez un chiffre entre 0 et 4, #[a(href="/page/62/1") rendez-vous au 62].
    p Entre 5 et 9, #[a(href="/page/288/1") rendez-vous au 288].
