extends layout_page


block page_content
  #history

   div#decision
    p Si vous vous êtes enduit le corps d'huile de Bakanal, #[a(href="/page/209/1") rendez-vous au 209].
    p Dans le cas contraire, #[a(href="/page/339/1") rendez-vous au 339].
