extends layout_page

block page_content
 #history
  p 
    a(href='/combat/baknar') Fight Baknar!
  p If you win the combat, 
    a(href='/page/245/1') turn to 245.
    // TODO: get rid of this and do it with logic
