extends layout_page

block page_content
  p Preparing yourself, you pull back the flap of the tent and quickly leave. The wind has become much stronger, and it whips the fine snow into small eddies, obscuring your vision. A shadow to your right betrays the Baknar as it lopes towards you. There is no time to evade its attack and you must fight the creature to the death.
  p 
    a(href='/combatBaknar') Fight Baknar!
  p If you win the combat, 
    a(href='/jeu/245') turn to 245.
    // TODO: get rid of this and do it with logic